.timeline .content-itens{
    margin-top: 50px;
    width: 100vw;
    display: flex;
}

.timeline .content-itens .itens{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.timeline .content-itens .itens-left{
    align-items: end;
    width: 50%;
}

.timeline .content-itens .itens-right{
    align-items: start;
    width: calc(50% + 1px);
    left: calc(50% + -2.1px);
}

.timeline .content-itens .itens .iten{
    width: max-content;
}

.timeline .content-itens .itens .iten-left{
    padding-right: 20px;
    border-right: 3px solid white;
    margin-bottom: 37px;
}

.timeline .content-itens .itens .iten-right{
    padding-left: 20px;
    border-left: 3px solid white;
    margin-top: 37px;
}
.title{
    border:3px solid #7898B1;
    border-radius: 50px;
    display: flex;
justify-content: center;
text-align:center;
font-size:20px;
background-color: #4879A1;
align-items: center;
margin: 10px 40px 40px 40px;
padding: 1px 40px 1px 40px;
box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, .3);
color:aliceblue
}
.subtitle{
    justify-content: center;
text-align:center;
font-size:20px;
align-items: center;
margin-top: -22px;
color:aliceblue
}